.card {
    width: 250.6pt;
    height: 343pt;
    background: #F8F8F8;
    border-radius: 8pt;
    border-style: solid;
    border-color: #D8D6D7;
    border-width: 1px;
    fill-opacity: 1;
    position: relative;
    margin-top: 30pt;
    margin-left: 792pt;
    font-family: 'Calibri';
}

.form-signup {
    padding-top: 20pt;
}

.form-signup-group {
    padding-top: 5pt;
}

.form-signup-group input {
    width: 214pt;
    height: 24pt;
    margin-left: 12.4pt;
    border-style: solid;
    border-color: #D8D6D7;
    border-width: 1px;
    border-radius: 4pt;
    padding-left: 12px;
    font-size: 10.5pt;
    background-color: #FDFDFD;
    opacity: 0.9;
}

.form-signup-group input:focus {
    outline: none !important;
    border:0.5px solid black;
    box-shadow: 0 0 3px #707070;
}

p {
    padding-top: 2.5pt;
    margin-left: 166pt;
    font-size: 8.5pt;
}

p a {
    text-decoration: none;
    color: #5344B9;
}

.signup-div {
    margin-left: 58pt;
    padding-top: 20pt;
}

.signup-button {
    font-size: 12.5pt;
    font-weight: bold;
    height: 22.9pt;
    width: 134.6pt;
    border-color: #707070;
    border-width: 1pt;
    border-radius: 4pt;
    background-color: #5344B9;
    color: #FFFDFA;
    cursor: pointer;
}

.separator-signup {
    display: flex;
    align-items: center;
    padding-top: 14pt;
}
  
.separator-signup h2{
    padding: 0 0.3rem;
    font-size: 12.3pt;
    color: #707070;
    opacity: 0.9;
    font-weight: 200;
}

.separator-signup .line1-signup{
    margin-left: 10pt;
    flex: 2;
    height: 0.5px;
    opacity: 0.5;
    background-color: #707070;
}

.separator-signup .line2-signup {
    flex: 2;
    height: 0.5px;
    background-color: #707070;
    opacity: 0.5;
    margin-right: 10pt;
}

.signup-spotify {
    display: inline-block;
    align-items: center;
    padding-top: 18pt;
    margin-left: 61pt;
}

.signup-spotify p {
    float: right;
    margin-left: 6pt;
    font-size: 14.3pt;
    color: #234421;
    font-family: 'Calibri';
    cursor: not-allowed;
}

.ls-logo {
    /* margin-left: 100pt; */
    height: 15pt;
    padding-top: 4pt;
    cursor: not-allowed;
}

.login {
    padding-top: 44pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p1-s {
    font-size: 11pt;
    font-family: 'Calibri';
    margin-left: 0pt;
}

#p2-s {
    font-size: 11pt;
    font-family: 'Calibri';
    margin-left: 3pt;
    float: right;
    align-self: flex-end;
    color: #5344B9;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.statement {
    padding-top: 28pt;
    align-content: center;
    justify-content: center;
    display: flex;
}

#p {
    color: black;
    opacity: 0.65;
    text-align: center;
    font-size: 9pt;
    margin-left: 14pt;
    margin-right: 14pt;
}